<body class="bg-gray-100">
    <nav class="sticky top-0 bg-white bg-opacity-70 backdrop-blur-md shadow-md transition-all duration-300 ease-in-out">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex-shrink-0 animate-[fadeIn_1s_ease-in-out]">
                    <a href="/" class="flex items-center">
                        <img src="Logo.png"  alt="" class="h-16">
                        <span class="ml-2 text-xl font-bold text-gray-800">HeroHub</span>
                    </a>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/"
                            class="text-gray-600 hover:text-indigo-600 hover:scale-105 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out">Home</a>
                        <a href="#about"
                            class="text-gray-600 hover:text-indigo-600 hover:scale-105 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out">About
                            Us</a>
                        <a href="/logout"
                            class="text-gray-600 hover:text-indigo-600 hover:scale-105 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out">LogOut</a>
                        <a href="/login"
                            class="text-gray-600 hover:text-indigo-600 hover:scale-105 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out">Log
                            In</a>
                        <a href="/signup"
                            class="bg-indigo-600 text-white hover:bg-indigo-700 hover:scale-105 px-3 py-2 rounded-md text-sm font-medium transition-all duration-300 ease-in-out">Sign
                            Up</a>
                    </div>
                </div>
                <div class="md:hidden">
                    <button type="button"
                        class="text-gray-600 hover:text-indigo-600 focus:outline-none focus:text-indigo-600">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>

</body>